<div class="navBar">
    <div class="navBarLogo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <span class="material-symbols-outlined spanLink homeLinkIcon" routerLink="/">
        home
    </span>
    <div class="navBarlinks">
        <a routerLink="/productList" class="link">Products</a>
        <div class="products linkDiv">
            <span class="material-symbols-outlined spanLink" routerLink="/productList">
                shopping_bag
            </span>
        </div>
        <!-- Use isAdmin$ Observable with async pipe -->
        <a routerLink="/productManagement" class="link" *ngIf="isAdmin$ | async">Dashboard</a>
        <div class="media linkDiv">
            <span class="material-symbols-outlined spanLink" routerLink="/productManagement">
                Dashboard
            </span>
        </div>
        <a routerLink="/mediaManagement" class="link" *ngIf="isAdmin$ | async">Media</a>
        <div class="media linkDiv">
            <span class="material-symbols-outlined spanLink" routerLink="/mediaManagement">
                photo_library
            </span>
        </div>
        <!-- Use username$ Observable with async pipe -->
        <div class="profile" routerLink="/profileManagment">
            <div *ngIf="isAdmin$ | async">
                <img *ngIf="(avatarUrl$ | async) as avatarUrl " [src]="avatarUrl || ''" alt="Profile Picture" >
            </div>

            <a class="profileName" *ngIf="(isAuthenticated$ | async) && (username$ | async) as username">
                {{ username.length > 6 ? (username.slice(0, 6) + '...') : username }}
            </a>
        </div>
        <div class="logStatus">
            <!-- Use isAuthenticated$ Observable with async pipe -->
            <a *ngIf="!(isAuthenticated$ | async)" class="logInLink" routerLink="/logIn">Log in/Sign up</a>
            <span *ngIf="!(isAuthenticated$ | async)" class="material-symbols-outlined logSpan" routerLink="/logIn">
                login
            </span>
            <a *ngIf="isAuthenticated$ | async" (click)="logOut()" class="logOutLink">Log out</a>
            <span *ngIf="isAuthenticated$ | async" class="material-symbols-outlined logSpan" (click)="logOut()">
                logout
            </span>

        </div>
    </div>
</div>